body {
    background-color: rgba(84, 158, 226, 1);
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
}

h2  {
    color: white;
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 500px;
    margin-left: 25px;
    margin-top: 25px;
}
main  {
    background-color: rgba(27, 120, 206, 1);
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
}
.cajatxt   {
    color: white;
    display: flex;
    align-items: center;
}

footer{
    background: rgba(16, 90, 158, 1);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 60px;
    color: white;
}